<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">ADD NEW AGENT</h5>
            </div>
            <div class="col-xs-10">
                <div  class="form-inline">
                    <form [formGroup]="agentForm" (submit)="addAgent()" class="form-group">
                        <input formControlName="first_name" type="text" class="form-control" placeholder="{{updatusername}}"/>
                        <input formControlName="last_name" type="text" class="form-control" placeholder="{{updatlastname}}"/>
                        <input type="text" formControlName="age" class="form-control" placeholder="{{updatuserage}}"/>
                        <button type="text" class="btn btn-primary" type="submit" >{{updatbuttom}}</button>
                        
                    </form >
                </div>
            </div>

            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">id</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">age</th>
                    </tr>
                  </thead>
                  <tbody  >    
                    <tr *ngFor="let agent of agents" >
                      <td class="pl-4">xx</td>
                      <td class="pl-4">{{agent['id']}}</td>
                      
                      <td>
                          <h5 class="font-medium mb-0">{{agent['first_name']}}</h5>
                      </td>
                      <td>
                          <span class="text-muted">{{agent['age']}}</span><br>
                      </td>
                      <td>
                        <button (click) = "deleteField(agent['id'])" type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                        <button (click) = "updateField(agent)" type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>